<div class = "col-md-4 blog-main box text-center" id = "post_<%= post.id %>">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title"> <%= post.title%></h3>
			<p> <%= post.description%></p>
			
		</div>
		<div class="panel-body">
		<div class="btn-group" role = "group">
			<button type="button" class="btn btn-warning" data-toggle = "modal" data-target ="#myupdatepost_<%= post.id %>">EDIT</button>
			
			<%= link_to 'Destroy', post, method: :delete,class: "btn btn-danger", remote: true %>

		</div>
		</div>

	</div>

	<%= form_for(post, method: :put,remote: true) do |f|%>
		<div class="modal" id ="myupdatepost_<%= post.id %>" tabindex ="-1">
			<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Edit
							</h4>
						</div>
						<div class="model-body">
							<div class="field">
								 <%= f.label :title %>
         					 <%= f.text_field :title, class: "form-control post_title" %>
							</div>
							<div class="field">
						          <%= f.label :description %>
						         <%= f.text_area :description,class: "form-control post_description" %>
						        </div>
						</div>
						<div class="modal-footer">
							<button type="button" id ="myupdatepost_<%= post.id%>" class = "btn btn-default" data-dismiss ="modal">Close
								
							</button>
							<%= submit_tag "Update",class: "btn btn-default" %>
						</div>
					</div>
			</div>			
		</div>
	<% end %>

</div>